# * ************************************************************************ 
# * 
# * Author:             (c) 2004-2023  Cybionet - Integration & Securite Systeme 
# * 
# * File:               sshd_conf 
# * Version:            1.2.27
# * 
# * Description:        Configuration of SSHD service complying with Cybionet standards.
# * 
# * Creation: April 14, 2016 
# * Change:   April 11, 2023
# * 
# ************************************************************************  

#Include /etc/ssh/sshd_config.d/*.conf

############ LISTERNER ###########################
Port 2222
Protocol 2
ListenAddress 0.0.0.0


############ ALGORITHMS ##########################

# ## Key exchange algorithms (check to adjust with ssh-audit).
# ## STIG [V-255912] (Value 'ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256' is recommended).
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,diffie-hellman-group14-sha256

# ## Host-key algorithms (check with ssh-audit).
# ## STIG [V-238216]
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# ## Encryption algorithms (ciphers) (check with ssh-audit).
# ## STIG [V-238217] (Value 'Ciphers aes256-ctr,aes192-ctr,aes128-ctr' is recommended).
Ciphers aes128-gcm@openssh.com,aes256-gcm@openssh.com,chacha20-poly1305@openssh.com

# ## Message authentication code algorithms (check with ssh-audit).
# ## The hmac-sha2-512 algorithm is required for PowerShell scripts using the Set-SCPFile function.
# ## STIG [V-238216] (Value 'MACs hmac-sha2-512,hmac-sha2-256' is recommended).
MACs umac-128-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com

# ## Keying
#RekeyLimit default none


############ LOG PARAMETERS ######################
# ## Logging
SyslogFacility AUTH

# ## Cisofy [SSH-7408] (Value VERBOSE is recommended).
LogLevel INFO


############ AUTHENTICATION ######################
# ## Ensure SSH LoginGraceTime is set to one minute or less.
# ## STIG [V-25274] (Recommended value 'LoginGraceTime 1m').
LoginGraceTime 1m

# ## Verify remote access using SSH prevents users from logging on directly as root.
# ## STIG [75827] (Value 'no' is recommended).
PermitRootLogin no

# ## With the StrictModes option, it will only use those files which are properly configured (e.g. not using chmod 777 applied).
# ## Cisofy [SSH-7416] (Value 'yes' is recommended).
StrictModes yes

# ## Cisofy [SSH-7408] (Value '3' is recommended).
MaxAuthTries 3

# ## Cisofy [SSH-7408] (Value '2' is recommended).
MaxSessions 2

# ## Specifies the maximum number of concurrent unauthenticated connections to the SSH daemon.
MaxStartups 10:30:100

# ## STIG [V238213] (Value '600 or less' is recommended).
ClientAliveInterval 300

# ## STIG [V-238212] (Value '1' is recommended).
ClientAliveCountMax 1

# ## Set this to 'yes' to enable PAM authentication, account processing,
# ## and session processing. If this is enabled, PAM authentication will
# ## be allowed through the ChallengeResponseAuthentication and
# ## PasswordAuthentication.  Depending on your PAM configuration,
# ## PAM authentication via ChallengeResponseAuthentication may bypass
# ## the setting of "PermitRootLogin no".
# ## If you just want the PAM account and session checks to run without
# ## PAM authentication, then enable this but set PasswordAuthentication
# ## and ChallengeResponseAuthentication to 'no'.
UsePAM yes


############ APPLICATIONS ########################

# ## Needed for Ansible.
PubkeyAuthentication yes
AuthorizedKeysFile %h/.ssh/authorized_keys

# ## Needed for Google-Authenticator.
# ## Change to yes to enable challenge-response passwords (beware issues with some PAM modules and threads)
ChallengeResponseAuthentication no

# ## Needed for SSHFS.
Subsystem sftp /usr/lib/openssh/sftp-server

# ## Needed for Yubikey.
#PubkeyAcceptedKeyTypes sk-ecdsa-sha2-nistp256@openssh.com,sk-ssh-ed25519@openssh.com

# ## Needed for AutoSSH, VSCode or Port Forwarding (Set value to yes).
AllowTcpForwarding yes

# ## This one for sockets connexion (Defaut yes).
#AllowStreamLocalForwarding yes


############ KERBEROS ############################
# ## Kerberos options.
#KerberosAuthentication no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes
#KerberosGetAFSToken no


############ GSSAPI ##############################
# ## GSSAPI options.
#GSSAPIAuthentication no
#GSSAPICleanupCredentials yes
#GSSAPIStrictAcceptorCheck yes
#GSSAPIKeyExchange no


############ ############ ########################

# ## Cisofy [SSH-7408] (Value 'No' is recommended).
TCPKeepAlive yes

# ## Cisofy [SSH-7408] (Value 'No' is remommended).
AllowAgentForwarding no

# ## Cisofy [SSH-7408] (Value 'No' is recommended).
Compression no

# ## An attacker could use flaws in the Rhosts protocol to gain access. Don't read the user's ~/.rhosts and ~/.shosts files.
# ## CCE-4030-3
IgnoreRhosts yes

# ## For this to work you will also need host keys in /etc/ssh/ssh_known_hosts. An attacker could use use host-based authentication to gain access from a compromised host.
# ## CCE-4370-3
HostbasedAuthentication no

# ## Uncomment if you don't trust ~/.ssh/known_hosts for RhostsRSAAuthentication
# ## STIG [V-230290] (Recommended value 'yes').
IgnoreUserKnownHosts yes

# ## Users are not allowed to set environment options for SSH. An attacker may be able to bypass some access restrictions over SSH.
# ## STIG [V-238218] (Recommended value 'no').
# ## CCE-14716-5
PermitUserEnvironment no

# ## STIG [V-63213][V-230330] (Recommended value 'no').
GatewayPorts no

# ## STIG [V-230527] (Recommended value '1G 1h').
RekeyLimit 1G 1h


############ PASSWORD ############################
# ## To enable empty passwords, change to yes (NOT RECOMMENDED)
# ## STIG [V-238218] (Recommended value 'no').
PermitEmptyPasswords no

# ## Change to no to disable tunnelled clear text passwords
PasswordAuthentication yes


############ LANGUAGE ############################
# ## Allow client to pass locale environment variables
AcceptEnv LANG LC_*


############ X11 #################################
# ##STIG [V-238219] (Recommended value 'no').
X11Forwarding no

X11DisplayOffset 10

# ## STIG [V-238220] (Recommended value 'yes').
X11UseLocalhost yes


############ MOTD & BANNER #######################
PrintMotd no
PrintLastLog yes

# ## Default banner path.
#Banner none
Banner /etc/issue.net

# ## Annotation added to SSHD version.
VersionAddendum - Cybionet


############ DNS #################################
# ## Tells SSH not to do rDNS during authentication.
UseDNS no


############ RESTRICTED USERS/GROUPS #############
# ## The allow/deny directives are processed in the following order: 
# ## DenyUsers, AllowUsers, DenyGroups, and finally AllowGroups.

# ## Restricted group.
AllowGroups restricted

# ## User Restreint with restricted group.
#AllowUsers ans_deploy
#Match group restricted
#  AllowUsers *


############ CHROOT ##############################
# ## Define username to apply chroot jail to.
#Match User myuser

# ## Match user.
#ChrootDirectory /home/myuser
